<table class="table table-striped" style="margin-top: 20px;">
    <thead class="thead">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre Tarifa</th>
            <th scope="col">Valor</th>
            <th scope="col-2">Gestión</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tarifa of tarifas">
            <td scope="row">{{tarifa.Id_tarifa}}</td>
            <td>{{tarifa.Tarifa}}</td>
            <td>{{tarifa.Valor}}</td>
            <td>
                <button style="margin: 10px;" class="btn btn-success" (click)="editar(tarifa)"><i class="fas fa-edit"></i></button>
                <button style="margin: 10px;" class="btn btn-danger" (click)="delTarifa(tarifa.Id_tarifa)"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center" *ngIf="resultado">
    Resultado: {{resultado.Mensaje}}
</div>