<div class="cont">
    <div class="col">
        <form autocomplete="off" [formGroup]="formulario"  (ngSubmit)="actualizar()">

            <!-- Nombre -->
            <div class="form-group">
                <label><b style="color: red;">* </b> NOMBRE</label>
                <input type="text" class="form-control" formControlName="nombre" [class.is-invalid]="nombreNoValido">
                <small *ngIf="nombreNoValido" class="text-danger">El nombre de la instalación ha de tener al menos 4 letras</small>
            </div>

            <!-- Dirección -->
            <div class="form-group">
                <label><b style="color: red;">* </b> DIRECCIÓN</label>
                <input type="text" class="form-control" formControlName="direccion" [class.is-invalid]="direccionNoValido">
                <small *ngIf="direccionNoValido" class="text-danger">La dirección es necesaria</small>
            </div>

            <!-- Operativa -->
            <div class="form-check">
                <input class="form-check-input" type="radio" value="true" name="op" id="operativa" checked>
                <label class="form-check-label" for="operativa">
                  Operativa
                </label>
                <input class="form-check-input" type="radio" value="false" name="op" id="inoperativa">
                <label class="form-check-label" for="inoperativa">
                  No operativa
                </label>
            </div>

            <!-- Horario -->
            <div class="form-group">
                <label><b style="color: red;">* </b> HORARIO</label>
                <!-- <select class="form-control" formControlName="horario" id="horario" [class.is-invalid]="horarioNoValido">
                  <option value="0" disabled>Selecciona un horario</option>
                  <option *ngFor="let horario of horarios" value="{{horario.Id_Horario}}">{{horario.Nombre}}</option>
                </select> -->
                <small *ngIf="horarioNoValido" class="text-danger">Se ha de especificar un horario para la instalación</small>
            </div>

            <!-- MODIFICAR IMAGEN -->
            <div class="row">
                <label for="imgmod" class="custom-file-upload">
                    <i class="fas fa-upload"></i> Subir imagen
                </label>
                <input type="file" id="imgmod" name="imgmod" (change)="cambiarImagen($event)">
                <span *ngIf="mensaje" class="errormsg">{{mensaje}}</span>
            </div>

            <!-- IMAGEN -->
            <div class="row" *ngIf="Imagen">
                <img [src]="Imagen" alt="Imagen de la instalación" class="imageninstalacion">
            </div>
            
            <br>
            <div class="form-group text-center">
                <button type="submit"
                        class="btn btn-primary"
                        style="letter-spacing: 2px; padding-left: 50px;">
                    CONFIRMAR                    
                    <i class="fas fa-play" style="margin-left: 50px;"></i>
                </button>
            </div>
        </form>

        <div class="text-center" *ngIf="resultado">
            {{resultado}}
        </div>
    </div>
</div>