<table class="table table-striped" style="margin-top: 20px;">
    <thead class="thead">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Perfil</th>
            <th scope="col">Email</th>
            <th scope="col">Activo</th>
            <th scope="col-2">Gestión</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of gestionUsuariosService.lista">
            <td scope="row">{{usuario.Id_Usuario}}</td>
            <td>{{usuario.Nombre}}</td>
            <td>{{usuario.Apellido1}} {{usuario.Apellido2}}</td>
            <td>{{usuario.Perfil}}</td>
            <td>{{usuario.Email}}</td>
            <td>{{usuario.Activo}}</td>
            <td>
                <button style="margin: 10px;" class="btn btn-success" (click)="editar(usuario)"><i class="fas fa-edit"></i></button>
                <button style="margin: 10px;" class="btn btn-danger" (click)="delUsuario(usuario.Id_Usuario)"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-center" *ngIf="resultado">
    Resultado: {{resultado.Mensaje}}
</div>