<div class="row" id="pago">
    <div class="col-6">
        <h2 style="text-align: center;">Detalles de la reserva</h2>
        <hr style="border: 1px solid #FF671F; width: 50%; text-align: center; margin-bottom: 35px;">
        <p><b>Id Reserva: </b> {{datosReserva.Id_reserva}}</p>
        <p><b>Fecha: </b>{{datosReserva.Fecha}}</p>
        <p><b>Instalación: </b>{{datosReserva.Instalacion}}</p>
        <p><b>Pista: </b>{{datosReserva.Pista}}</p>
        <p><b>Hora de Inicio: </b>{{datosReserva.H_ini}}</p>
        <p><b>Hora de Fin: </b>Hora de Fin: {{datosReserva.H_fin}}</p>
        <p><b>Total: </b>{{datosReserva.Precio}}€</p>
    </div>
    <div class="col-6">
        <h2 style="text-align: center;">Datos de la tarjeta</h2>
        <hr style="border: 1px solid #FF671F; width: 50%; text-align: center; margin-bottom: 35px;">
        <form autocomplete="off" [formGroup]="formulario"  (ngSubmit)="pagar()">
            <div class="form-group">
                <label>Número de Tarjeta</label>
                <input type="text" class="form-control" formControlName="numTarjeta" [class.is-invalid]="numTarjetaNoValido">
                <small *ngIf="numTarjetaNoValido" class="text-danger">El número de la tarjeta ha de tener 12 dígitos</small>
            </div>
            <div class="form-group">
                <label>CVC</label>
                <input type="text" class="form-control" formControlName="cvc" [class.is-invalid]="cvcNoValido">
                <small *ngIf="cvcNoValido" class="text-danger">El cvc es de 3 dígitos</small>
            </div>
            <div class="form-group">
                <label>Fecha de expiración</label>
                <div class="row" cc-exp>
                    <div class="col-3">
                        <input placeholder="MM" type="text" class="form-control" formControlName="mes" [class.is-invalid]="mesNoValido">
                        <small *ngIf="mesNoValido" class="text-danger">Se deben introducir 2 dígitos, si es en Enero sería 01</small>
                    </div>
                    <div class="col-3">
                        <input placeholder="YY" type="text" class="form-control" formControlName="year" [class.is-invalid]="yearNoValido">
                        <small *ngIf="yearNoValido" class="text-danger">Se deben introducir 2 dígitos</small>
                    </div>
                </div>
            </div>
            <div class="form-group text-center" style="margin-top: 50px;">
                <button type="submit" class="btn btn-primary">
                    PAGAR
                    <i class="fas fa-credit-card" style="margin-left: 25px;"></i>
                </button>
            </div>
        </form>
    </div>
</div>
