<nav class="navbar navbar-light bg-light fixed-top">

    <!-- LOGO -->
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/logovictor.png" width="296" height="70" alt="Sports Rent">
    </a>

    <!-- AL ESTAR LOGEADO  -->
    <div *ngIf="logado">
        <!-- IMAGEN DE USUARIO -->
        <a href="">
            <img [src]="imgPerfil" class="imgPerfil" alt="Imagen de perfil">
        </a>

        <!-- NOMBRE DE USUARIO -->
        <b class="username">{{userName}}</b>

        <!-- LOGOUT -->
        <button class="btn btn-danger" style="margin-right:10px;" (click)="logout()">
            <i class="fas fa-sign-out-alt" style="padding-right: 10px;"></i> LOGOUT
        </button>
    </div>

    <!-- SIN ESTAR LOGEADO -->
    <div *ngIf="!logado">
        <!-- BOTON LOGIN/REGISTER -->
        <a href="/ident" class="btn btn-outline-secondary" style="margin-right:10px;">
            <i class="fas fa-user-plus" style="padding-right: 10px;"></i> ENTRA / REGÍSTRATE
        </a>
    </div>
</nav>