<div class="container">
    <h4><span>Resumen de la reserva: </span></h4>

    <div>
        Fecha reserva: {{reserva.Fecha}}<br> Hora de inicio: {{reserva.H_ini}}<br> Hora de Fin: {{reserva.H_fin}}
        <br> Horas de alquiler: {{reserva.Horas}}<br> Precio: {{reserva.Precio}} euros<br> Pista: {{reserva.Pista}}
    </div>
    <div class="row">
        <a href="/reservas" class="btn btn-info" style="margin: 20px">Volver</a>
        <a href="" class="btn btn-info" style="margin: 20px">Pagar</a>
    </div>


</div>