<div class="cont animate__animated animate__fadeIn">
    <div class="titulo">
        <hr>
        <h1 style="font-weight: 700; font-size: 2em;">LISTADO DE RESERVAS</h1>
        <hr>
    </div>
    <br>
    <div class="row">
        <table class="table table-striped" style="margin-top: 20px;">
            <thead class="thead">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Instalación</th>
                    <th scope="col">Pista</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Email</th>
                    <th scope="col">Precio</th>
                    <th scope="col-2">Gestión</th>
                </tr>
            </thead>
            <!-- <tbody>
                <tr *ngFor="let tarifa of gestionTarifasService.lista">
                    <td scope="row">{{tarifa.Id_tarifa}}</td>
                    <td>{{tarifa.Tarifa}}</td>
                    <td>{{tarifa.Valor}}</td>
                    <td>
                        <button style="margin: 10px;" class="btn btn-danger" (click)="delTarifa(tarifa.Id_tarifa)"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody> -->
        </table>
    </div>
</div>