<div class="cont animate__animated animate__fadeIn">
    <div class="titulo">
        <hr>
        <h1 style="font-weight: 700; font-size: 2em;">LISTADO DE RESERVAS</h1>
        <hr>
    </div>
    <br>
    <div class="row">
        <table class="table table-striped" style="margin-top: 20px;">
            <thead class="thead">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Instalación</th>
                    <th scope="col">Pista</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora inicio</th>
                    <th scope="col">Hora fin</th>
                    <th scope="col">Email</th>
                    <th scope="col">Precio</th>
                    <th scope="col-2">Cancelar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of listadoReservasService.lista">
                    <td scope="row">{{reserva.Id_Reserva}}</td>
                    <td>{{reserva.Instalacion}}</td>
                    <td>{{reserva.Pista}}</td>
                    <td>{{reserva.Fecha}}</td>
                    <td>{{reserva.H_ini}}</td>
                    <td>{{reserva.H_fin}}</td>
                    <td>{{reserva.Email}}</td>
                    <td>{{reserva.Precio}}</td>
                    <td>
                        <button style="margin: 10px;" class="btn btn-danger" (click)="cancelarReserva(reserva.Id_Reserva)"><i class="fas fa-window-close"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>