<!-- FORMULARIO DEL LOGIN -->
<div class="cont">
    <div class="row" style="margin-left: 25%;">
        <form autocomplete="off" [formGroup]="formulario" (ngSubmit)="buscaPistas()">
            <div class="form-row">
                <!--Actividades-->
                <div class="form-group col-md-4">
                    <select class="form-control" formControlName="selectActividad" (change)="resetPistas()">
                        <option value="0" disabled selected>Selecciona una actividad</option>
                        <option *ngFor="let actividad of actividades" value="{{actividad.Id_actividad}}-{{actividad.Actividad}}">{{actividad.Actividad}}</option>
                    </select>
                </div>

                <!--Fecha-->
                <div class="input-group col-md-4">
                    <input class="form-control" placeholder="dd-mm-yyyy" formControlName="dp" [markDisabled]="isDisabled" [displayMonths]="displayMonths" [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker #dp="ngbDatepicker">
                    <div class="input-group-append-md">
                        <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                    </div>
                </div>

                <br>
                <div class="form-group col-md-4 text-center">
                    <button type="submit" class="btn btn-primary" style="letter-spacing: 2px; padding-left: 50px;">
                        BUSCAR
                    <i class="fas fa-play" style="margin-left: 50px;"></i>
                    </button> {{fechaddmmyy}}
                </div>
            </div>
        </form>
    </div>

    <div *ngIf="hayPistas">
        <!-- CARDS PISTAS RESERVAS -->
        <div class="card-deck">
            <app-card-reserva *ngFor="let pista of pistas" [pista]="pista.Pista" [fecha]="fechaReserva"></app-card-reserva>
        </div>
        <div *ngIf="verDetalleReserva">
            <app-detalle-reservas></app-detalle-reservas>
        </div>
    </div>



</div>
