<div class="cont animate__animated animate__fadeIn">
    <!-- TITULO -->
    <div class="titulo">
        <hr>
        <h1 style="font-weight: 700; font-size: 2em;">MI PERFIL</h1>
        <hr>
    </div>

    <br>
    <!-- CONTENIDO -->
    <div class="row">

        <!-- DATOS DEL PERFIL -->
        <div class="col-md-6">
            <app-datos></app-datos>
            <app-pass></app-pass>
        </div>

        <!-- DATOS ALQUILERES -->
        <div class="col-md-6">
            <div class="row">
                <app-activos-alquiler></app-activos-alquiler>
            </div>
            <div class="row">
                <app-historial-alquiler></app-historial-alquiler>
            </div>
        </div>
    </div>
</div>
