<div class="row about">
    <div class="logo col-4">
        <img src="../../../../assets/logoenblanco.png" class="img-fluid" width="80%" height="80%" style="margin-left:50px;" alt="Sports Rent">
    </div>
    <div class="row col-8">
        <div class="box col-4">
            <hr>
            <h3>Enalces</h3>
            <a href="#">Home</a>
            <a href="/instalaciones">Instalaciones</a>
            <a href="/reservas">Alquilar</a>
            <a href="/home#contacto">Contacto</a>
            <a href="/perfil">Perfil</a>
        </div>
        <div class="box col-4">
            <hr>
            <h3>Nosotros</h3>
            <p>+34608904233</p>
            <p>Azuqueca de H.</p>
            <p>c/Pilar nº2 19200</p>
            <p>sportsrent@hotmail.com</p>
        </div>
        <div class="box col-4">
            <hr>
            <h3>Redes</h3>
            <p>@rentsports_es</p>
            <p>Sports Rent ES</p>
        </div>
    </div>
</div>