<div class="card">
    <img class="card-img-top" src="{{instalacion.Imagen}}" alt="Imagen">
    <div class="card-body">
        <h3 class="card-title" style="text-align: center;">{{instalacion.Nombre}}</h3>
        <hr>
        <p class="card-text"><b>Dirección: </b>{{instalacion.Direccion}}</p>
        <p class="card-text"><b>Disponibilidad: </b>{{operativa}}</p>
        <p class="card-text"><b>Pistas</b></p>
        <div *ngFor="let pista of pistas">
            <p class="card-text">{{pista.Pista}}</p>
        </div>
    </div>
</div>
