<!-- TITULO -->
<div class="titulo">
    <h1 style="font-weight: 700; font-size: 2em;">HISTORIAL DE ALQUILERES</h1>
</div>

<div>
    <table class="table table-striped" style="margin-top: 20px;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Instalación</th>
            <th scope="col">Pista</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
          </tr>
        </tbody>
    </table>
</div>