<div class="cont">
    <div class="titulo">
        <hr>
        <h1 style="font-weight: 700; font-size: 2em;">INSTALACIONES</h1>
        <hr>
    </div>
    <br>
    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4 animate__animated animate__fadeIn">
            <app-card-instalacion></app-card-instalacion>
        </div>
        <div class="col mb-4 animate__animated animate__fadeIn">
            <app-card-instalacion></app-card-instalacion>
        </div>
        <div class="col mb-4 animate__animated animate__fadeIn">
            <app-card-instalacion></app-card-instalacion>
        </div>
        <div class="col mb-4 animate__animated animate__fadeIn">
            <app-card-instalacion></app-card-instalacion>
        </div>
    </div>
</div>