.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}
   
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

body{
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    height: auto;
}

.parallaxBG {
    background-image: url("../../../../assets/fondobasket.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 50px;
}

.fondoCont{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.61);
    padding: 60px;
    margin-right: 200px;
    margin-left: 200px;
}

.parallaxBG2 {
    background-image: url("../../../../assets/fondotenis.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 100px;
    margin-bottom: 50px;
}

.botonenviar{
    margin-left: 75%; 
    margin-top:15px; 
    padding-left: 40px;
    padding-right: 40px;
}

h2{
    color: #FF671F;
}

h3{
    color: white;
}

input, textarea{
    background-color: rgba(255, 255, 255, 0.61);
}

.linea{
    border: 1px solid #FF671F; 
    text-align: center; 
    width: 50%;
}

.cara{
    background-color: white;
    margin: 15px;
    padding: 15px;
}