.nav{
    margin-top: 96px;
    background-image: url('../../../../assets/fondoheader2.png');
    background-repeat: no-repeat;
    background-size: 100% 200px;
    background-position: center;
    height: 200px;
}