<div class="nav">
    <div class="row botones">
        <div class="box col">
            <a href="#"><img src="../../../../assets/homebtn.png" class="img-fluid" alt="Home"></a>
        </div>
        <div class="box col">
            <a href="/instalaciones"><img src="../../../../assets/instalacionesbtn.png" class="img-fluid" alt="Ver instalaciones"></a>
        </div>
        <div class="box col">
            <a href="/reservas"><img src="../../../../assets/alquilarbtn.png" class="img-fluid" alt="Alquilar pista"></a>
        </div>
        <div class="box col">
            <a href="/home#contacto"><img src="../../../../assets/contactobtn.png" class="img-fluid" alt="Contacto"></a>
        </div>
    </div>
</div>